// Navigation Styles here

.nav-content {
    display: flex;
    flex-flow: row wrap;
    width: 40%;

    ul {
        display: flex;
        justify-content: space-between;

        li a {
            font-size: 2rem;
            color: @font-color;
            text-decoration: none;
            // display: flex;
            // flex-flow: row wrap;
            // justify-content: space-around;
        }
    }
}